{% extends "base.html" %}

{% block page_content %}
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h3>Test Admin</h3>
    </div>
    <div class='panel-body'>
        <div class='panel-body'>
            <p>It works. You can see this page only if you have admin rights</p>
        </div>
    </div>
</div>
{% endblock %}
